body{
  background-image:url('../src/images/background.png');
  }

.header {
  color: white;
  font-size: 150px;
  text-align: center;
}

.titulo {
  color: white;
  font-size: 130px;
  border: 5px solid white;
  border-radius: 40px;
  width: 5030px;
  text-align: center;
  margin: auto;
}

.planetasImg {
  padding: 160px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: 
}

.namePlanet {
  color: white;
  font-size: 50px;
}

.textMissions {
  color: white;
  font-size: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.boxText {
  border: 5px solid white;
  border-radius: 40px;
  line-height: 2px;
  margin: 60px;
  padding: 80px;
  width: 1000px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nameMissions {
  font-size: 65px;
  font-weight: bold;
}
